@import '@style/index';

.c-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
  padding: 0px 20px;
  @include box-sizing-border-box();
  position: relative;

  &-flag {
    width: 7px;
    height: 40%;
    background-color: #333333;
    position: absolute;
    left: 0;
  }

  &-text {
    font-size: 28px;
    color: #828282;
  }
}

.active {
  background-color: rgb(255, 255, 255);
}

.active-text {
  color: #000000;
  font-weight: 700;
}
