.c-menu-item {
  position: relative;
  width: auto;
  height: 80px;
  padding: 0px 20px;
  /* #ifndef rn */
  box-sizing: border-box;
  /* #endif */
  display: flex;
  align-items: center;
  justify-content: center;

  &__flag {
    position: absolute;
    left: 0;
    width: 7px;
    height: 40%;
    background-color: #333333;
  }

  &__text {
    font-size: 28px;
    color: #828282;
  }
}

.active {
  background-color: rgb(255, 255, 255);
}

.active-text {
  color: #000000;
  font-weight: 700;
}
