@import '@style/index';

.color-conver {
  width: 100%;
  height: 100%;
  background-color: #fff;

  &__input-groups {

  }

  &__result {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    @include padding-box(0 20px);
    display: flex;
    flex-direction: column;

    &-content {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        font-size: 36px;
        color: black;
      }
    }

    &-color-show {
      margin-top: 10px;
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-detail {
        width: 100px;
        height: 100%;
      }
    }

    &-copy {
      width: 100%;
      height: 116px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        font-size: 32px;
        color: $color-primary;
      }
    }
  }
}
