@import '@style/index';

.c-picker {
  width: 100%;
  height: 120px;
  @include padding-box(0px 20px);
  display: flex;
  flex-direction: row;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* #ifdef weapp |  rn*/
    @include padding-box(14px 20px);
    /* #endif */
    /* #ifdef h5 */
    @include padding-box(10px 20px);
    /* #endif */
    border: 4px solid $color-border-default;
    border-radius: 10px;

    &-label {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-text {
        font-size: 30px;
        color: #000000;
      }
    }

    &-icon {
      /* #ifdef weapp */
      margin-top: 6px;
      /* #endif */
      /* #ifdef rn */
      margin-top: 4px;
      /* #endif */
      margin-left: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &-img {
        width: 25px;
        height: 14px;
      }
    }
  }
}
