@import '@style/index';

.c-button {
  width: 100%;
  height: 110px;
  @include padding-box(10px 20px);

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &-text {
      font-size: 36px;
      color: #ffffff;
    }
  }
}
