/**
 弹性布局，内部元素可选垂直、水平方向居中
 $hCenter 水平是否居中 默认居中
 $vCenter 垂直是否居中 默认居中
 */
@mixin display-flex($hCenter:true,$vCenter:true) {
  display: flex;
  @if ($hCenter==true) {
    justify-content: center;
  }

  @if ($vCenter==true) {
    align-items: center;
  }
}

/**
  设置宽、高 如果只传一个参数，则宽高相同
  $w width(宽)
  $h height(高)
 */
@mixin width-height($w:0px,$h:0px) {
  width: $w;

  @if ($h==0px) {
    height: $w;
  } @else {
    height: $h;
  }
}

/**
  设置 box-sizing: border-box;
 */
@mixin box-sizing-border-box() {
  /* #ifndef rn */
  box-sizing: border-box;
  /* #endif */
}
