// 主题色
$theme-background: #333333;
// 默认颜色
$color-primary: #1E90FF;
// 警告颜色
$color-warning: #FF4D4F;
// 默认边框颜色
$color-border-default: #c4c7ce;
// 选中边框颜色
$color-border-active: #4e6ef2;
// 选中边框阴影颜色
$color-border-shadow: #40a9ff;
