// 主题色
$theme-background: #333333;
// 默认颜色
$color-primary: #1E90FF;
// 警告颜色
$color-warning: #FF4D4F;
// textarea默认边框颜色
$color-textarea-border-default: #d9d9d9;
// textarea选中边框颜色
$color-textarea-border-active: #40a9ff;
