// 主题色
$theme-background: #333333;
// 默认颜色
$color-primary: #1E90FF;
// 警告颜色
$color-warning: #FF4D4F;
// 默认边框颜色
$color-border-default: rgb(235, 235, 235);
// 选中边框颜色
$color-border-active: rgb(64, 169, 255);
// 选中边框阴影颜色
$color-border-shadow: rgb(209, 233, 255);
// 文本输入框禁用的背景颜色
$color-disable-textarea: rgb(245, 245, 245);
