.calculator {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;

  &__input-line {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    /* #ifndef rn */
    box-sizing: border-box;
    /* #endif */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &-text {
      font-size: 36px;
      color: #000000;
    }
  }

  &__result-line {
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    /* #ifndef rn */
    box-sizing: border-box;
    /* #endif */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &-text {
      font-size: 36px;
      color: #000000;
    }
  }

  &__keyboard {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    /* #ifndef rn */
    box-sizing: border-box;
    /* #endif */

    &-content {
      height: 625px;

      &-line {
        width: 100%;
        height: 125px;
        display: flex;
        flex-direction: row;

        &-item-wrap {
          width: 25%;
          height: 100%;
          padding: 3px;
          /* #ifndef rn */
          box-sizing: border-box;
          /* #endif */

          &-detail {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1E90FF;

            &-text {
              font-size: 36px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
