@import '@style/index';

// h5、RN
/* #ifdef h5 | rn */
.c-nav-bar {
  @include display-flex();
  flex-direction: row;
  @include width-height(100%, 90px);
  @include box-sizing-border-box();
  background-color: #333333;
  position: relative;

  &-back {
    position: absolute;
    left: 5px;
    @include display-flex();
    @include width-height(60px);

    &-icon {
      @include width-height(20px, 35px);
    }
  }

  &-logo {
    position: absolute;
    left: 20px;
    @include display-flex();
    @include width-height(60px);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;

    &-icon {
      @include width-height(90%);
    }
  }

  &-title {
    color: #ffffff;
    font-size: 36px;
  }
}

/* #endif */

// 小程序
/* #ifdef weapp */
.c-nav-bar {

  &-status-bar {
    width: 100%;
    background-color: #ffffff;
  }

  &-container {
    @include display-flex($hCenter: false);
    width: 100%;
    background-color: #333333;;

    &-content {
      @include display-flex();
      @include width-height(100%);
      @include box-sizing-border-box();
      position: relative;

      &-back {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        width: 80px;
        height: 100%;

        &-icon {
          margin-left: 25px;
          @include width-height(18px, 31px);
        }
      }

      &-logo {
        position: absolute;
        left: 20px;
        @include width-height(50px);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
      }

      &-title {
        color: #ffffff;
        font-size: 32px;
      }
    }
  }
}

/* #endif */

//空白填充块
.blank-block {
  width: 100%;
  height: 90px;
}
