@import '@style/index';

.c-input {
  width: 100%;
  height: 68px;
  /* #ifdef rn */
  height: 83px;
  /* #endif */
  display: flex;
  flex-direction: row;
  @include padding-box(0 20px);
  margin-bottom: 20px;

  &__label-content {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-detail {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      border: 4px solid $color-border-default;
      border-right-width: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      &-text {
        font-size: 30px;
        color: #000000;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-taro-input {
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border: 4px solid $color-border-default;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &-style {
        width: 100%;
        height: 100%;
        @include padding-box(0 10px);
        display: flex;
        align-items: center;
      }

      &-placeholder {
        font-size: 30px;
      }
    }
  }

  &--active{
    border: 4px solid $color-border-active;
    box-shadow: 0 0 8px $color-border-shadow;
  }
}

.weui-input {
  font-size: 26px;
}
