@import '@style/index';

.c-text-area {
  position: relative;
  @include padding-box(20px);

  &__content {
    /* #ifndef h5 */
    width: 100%;
    /* #endif */
    /* #ifdef h5 */
    width: calc(100% - 8px);
    /* #endif */
    height: 310px;
    /* #ifndef h5 */
    padding: 12px 20px 55px 20px;
    /* #ifndef rn */
    box-sizing: border-box;
    /* #endif */
    background-color: #ffffff;
    font-size: 30px;
    /* #endif */
    border: 4px solid $color-border-default;
    border-radius: 10px;
    overflow: hidden;

    &--active {
      border: 4px solid $color-border-active;
      box-shadow: 0 0 8px $color-border-shadow;
    }
  }

  .taro-textarea {
    width: 100%;
    height: 255px;
    @include padding-box(12px 20px 0 20px);
    background-color: #ffffff;
    font-size: 30px;
  }

  &__copy {
    position: absolute;
    left: 35px;
    bottom: 20px;
    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-text {
      font-size: 26px;
      color: #1E90FF;
    }
  }

  &__paste {
    position: absolute;
    left: 105px;
    bottom: 20px;
    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-text {
      font-size: 26px;
      color: #1E90FF;
    }
  }

  &__clear {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      width: 20px;
      height: 20px;
    }

    .taro-img__mode-scaletofill {
      width: 20px;
      height: 20px;
    }
  }
}
